{% extends 'TheMountainMainBundle::layout.html.twig' %}

{% block title %}
    Radio Contest on The New 93-9 The Mountain
{% endblock %}

{% block description %}
    <meta name="description" content="Radio Contest on The New 93-9 The Mountain"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, Flagstaff, Prescott, 93.9, The Mountain"/>
{% endblock %}

{% block content %}
    <div>
        <h1>Find our latest contests under the "Win Stuff" menu options</h1>
    </div>
{% endblock %}